//Esquema de colores

//Primer esquema de colores
$white: #FFF;
$isabelline: #EEEDED;
$spanish-gray: #989797;
//Segundo esquema de colores
$coral: #FA824C;
$buff: #F1DD7B;
$vanilla: #E4572E;
//Tercer esquema de colores
$flame: #E4572E;
$light-red: #E87554;
$pastel-pink: #F2B2A0;
//Cuarto esquema de colores
$shiny: #4CA866;
$green: #9DCFAB;
$pastel-gray: #BDDFC7;
//Quinto esquema de colores
$blue-france: #3C91E6;
$blue-jeans: #5FA5EA;
$blue-jordy: #82B9EF;
//Quinto esquema de colores
$black: #000000;
$space: #454545;
$silver: #A2A2A2;

//Tipografía

$mono: 'PT Mono', monospace;
$roboto: 'Roboto', sans-serif;


//Peso de fuentes

$regular: 400;
$light: 300;

//Tamaños de fuentes

$xxx-large: 70px;
$xx-large: 40px;
$x-large: 30px;
$large: 18px;
$medium: 16px;
