ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fff;
  font-family: $mono;
}
ul img {
  width: 30%;
}
li {
  float: left;
}

li a {
  display: block;
  color: gray;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
 color: $black;
}
.about, .shop {
  padding-top: 30px;
}
